@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body{
    font-family:"Roboto", sans-serif;
    color: black;
    line-height: 1.7;
}
h1,h2, h3,h4,h5,h6 {
    font-weight: 600;
    color: rgb(0, 0, 0);
}

img{
    width: 100%;
}
section{
   padding-top: 10px ;
   padding-bottom: 80px; 
}

.slide-2{
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../img/07CAT-STRIPES-superJumbo.jpg);
}
.slide-3{
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../img/BX150956_HY_BC_EDDIE_058.JPG.jpg);

}
.bg-cover{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel-control-prev{
    background-color: rgba(0, 0, 0, 0.6);
    width: 40px;
    height: 70px;
    margin: auto;
}
.carousel-control-next{
    background-color: rgba(0, 0, 0, 0.6);
    width: 40px;
    height: 70px;
    margin: auto;
}

#Contact{
    background-color:darkgrey;
}

#About{
    background: linear-gradient(white,rgba(0, 0, 0, 0.34));
}
#Reviews{
    padding-top: 40px;
}